[Unit]
Description=My VPN Client Daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/veil-daemon hellfelix
ExecStopPost=rm /tmp/veil.sock
Restart=no
User=root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
