main {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Selection Bar (left side) */
.selection-bar {
  padding-top: 10px;
  width: 220px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 5px var(--shadow-color);
}

.menu-item {
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--accent-primary-dark);
  border: none;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.menu-item input[type="radio"] {
  opacity: 0; /* Hide the default radio button */
  position: absolute;
}

input[type="radio"]:checked + div {
  background: linear-gradient(
    0deg,
    var(--bg-color) 0%,
    var(--bg-color-alt) 72%
  );
  color: var(--accent-primary);
  padding-left: 2em;
}

/* Hover Effect for Menu Items */
.menu-item-content:hover {
  color: var(--accent-primary);
  background: var(--surface-color-alt);
}

.menu-item-content {
  width: 100%;
  padding: 1em;

  display: flex;
  align-items: center;
}

/* Main Content Area */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Toolbar (top bar) */
.toolbar {
  background: var(--bg-color-alt);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toolbar-btn {
  background: transparent;
  color: var(--accent-secondary-dark);
  font-size: 1em;
  border: 0px;
  padding: 20px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.toolbar-btn:hover {
  background: #2a2a3d;
  color: var(--accent-secondary);
}

/* Content Area */
.content-area {
  padding: 20px;
  background: var(--surface-color);
  color: var(--text-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px var(--shadow-color);
}

.content-area h1 {
  color: var(--accent-primary);
  font-size: 36px;
}

.content-area p {
  color: #ccc;
  font-size: 18px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
